In [2]:
import pandas as pd

In [3]:
df1912 = pd.read_csv("D:/Fordham Spring Homework Assignment/Big Data Analytics (Yilu Zhou)/project presentation due May 8/data/2019-Dec.csv")
df1911 = pd.read_csv("D:/Fordham Spring Homework Assignment/Big Data Analytics (Yilu Zhou)/project presentation due May 8/data/2019-Nov.csv")
df1910 = pd.read_csv("D:/Fordham Spring Homework Assignment/Big Data Analytics (Yilu Zhou)/project presentation due May 8/data/2019-Oct.csv")
df2002 = pd.read_csv("D:/Fordham Spring Homework Assignment/Big Data Analytics (Yilu Zhou)/project presentation due May 8/data/2020-Feb.csv")
df2001 = pd.read_csv("D:/Fordham Spring Homework Assignment/Big Data Analytics (Yilu Zhou)/project presentation due May 8/data/2020-Jan.csv")

In [4]:
df_list = [df1910,df1911,df1912,df2001,df2002]
df = pd.concat(df_list)

In [5]:
df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,cart,5773203,1487580005134238553,NaN,runail,2.62,463240011,26dd6e6e-4dac-4778-8d2c-92e149dab885
1,2019-10-01 00:00:03 UTC,cart,5773353,1487580005134238553,NaN,runail,2.62,463240011,26dd6e6e-4dac-4778-8d2c-92e149dab885
2,2019-10-01 00:00:07 UTC,cart,5881589,2151191071051219817,NaN,lovely,13.48,429681830,49e8d843-adf3-428b-a2c3-fe8bc6a307c9
3,2019-10-01 00:00:07 UTC,cart,5723490,1487580005134238553,NaN,runail,2.62,463240011,26dd6e6e-4dac-4778-8d2c-92e149dab885
4,2019-10-01 00:00:15 UTC,cart,5881449,1487580013522845895,NaN,lovely,0.56,429681830,49e8d843-adf3-428b-a2c3-fe8bc6a307c9

In [6]:
len(df)

20692840

In [7]:
df1 = df.copy()

In [8]:
df1["count"] = 1

In [9]:
df1.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,count
0,2019-10-01 00:00:00 UTC,cart,5773203,1487580005134238553,NaN,runail,2.62,463240011,26dd6e6e-4dac-4778-8d2c-92e149dab885,1
1,2019-10-01 00:00:03 UTC,cart,5773353,1487580005134238553,NaN,runail,2.62,463240011,26dd6e6e-4dac-4778-8d2c-92e149dab885,1
2,2019-10-01 00:00:07 UTC,cart,5881589,2151191071051219817,NaN,lovely,13.48,429681830,49e8d843-adf3-428b-a2c3-fe8bc6a307c9,1
3,2019-10-01 00:00:07 UTC,cart,5723490,1487580005134238553,NaN,runail,2.62,463240011,26dd6e6e-4dac-4778-8d2c-92e149dab885,1
4,2019-10-01 00:00:15 UTC,cart,5881449,1487580013522845895,NaN,lovely,0.56,429681830,49e8d843-adf3-428b-a2c3-fe8bc6a307c9,1

In [18]:
event_count_df = df1.groupby([df1["user_id"], df1["product_id"], df1["event_type"]],as_index=False)["count"].sum()

In [19]:
event_count_df

            user_id  product_id event_type  count
0            465496     5769989       view      1
1            465496     5865524       view      1
2            465496     5865526       view      1
3           1120748        5240       view      1
4           1180452     5881337       view      1
5           1458813     5542414       view      1
6           1458813     5711078       view      1
7           1458813     5711087       view      2
8           1458813     5711117       view      1
9           1458813     5711122       view      1
10          1458813     5711135       view      1
11          1458813     5711145       view      1
12          1458813     5711154       view      1
13          1458813     5711160       view      1
14          1458813     5711172       view      1
15          1458813     5711700       view      1
16          1458813     5711710       view      1
17          1458813     5711720       view      2
18          1458813     5711721       view      1
19          1458813     5711732       view      1
20          1458813     5712576       view      2
21          1458813     5727766       view      1
22          1458813     5800349       view      2
23          1458813     5800358       view      2
24          1458813     5814066       view      2
25          1458813     5838771       view      1
26          1458813     5900256       view      1
27          1458813     5902955       view      1
28          1458813     5905673       view      1
29          1458813     5905674       view      1
...             ...         ...        ...    ...
15030782  622087772     5688688       view      1
15030783  622087772     5801165       view      1
15030784  622087772     5828243       view      2
15030785  622087974     5809117       view      1
15030786  622087993     5817692       view      1
15030787  622088288     5915012       view      1
15030788  622088324     5650652       view      1
15030789  622088461     5650652       view      1
15030790  622088548     5767806       view      2
15030791  622088641     5695642       view      1
15030792  622088654     5833334       view      2
15030793  622088654     5838935       view      1
15030794  622089105     5560962       view      1
15030795  622089300     5857364       view      1
15030796  622089332       24389       view      1
15030797  622089369     5655024       view      1
15030798  622089610     5692241       view      1
15030799  622089614     5649236       view      1
15030800  622089692     5769914       cart      1
15030801  622089692     5769914       view      1
15030802  622089817     5814047       view      1
15030803  622090014     5925386       view      1
15030804  622090016        5372       view      2
15030805  622090043     5809879       view      1
15030806  622090043     5816166       cart      1
15030807  622090043     5850628       view      1
15030808  622090052     5688691       view      1
15030809  622090052     5931986       view      1
15030810  622090098     5650609       view      1
15030811  622090237     5754853       view      1

[15030812 rows x 4 columns]

In [20]:
event_count_df = event_count_df.pivot_table(index=['user_id','product_id'], columns='event_type', values='count')

In [21]:
event_count_df.head()

event_type          cart  purchase  remove_from_cart  view
user_id product_id
465496  5769989      NaN       NaN               NaN   1.0
        5865524      NaN       NaN               NaN   1.0
        5865526      NaN       NaN               NaN   1.0
1120748 5240         NaN       NaN               NaN   1.0
1180452 5881337      NaN       NaN               NaN   1.0

In [22]:
event_count_df = event_count_df.reset_index()

In [23]:
event_count_df.head()

event_type  user_id  product_id  cart  purchase  remove_from_cart  view
0            465496     5769989   NaN       NaN               NaN   1.0
1            465496     5865524   NaN       NaN               NaN   1.0
2            465496     5865526   NaN       NaN               NaN   1.0
3           1120748        5240   NaN       NaN               NaN   1.0
4           1180452     5881337   NaN       NaN               NaN   1.0

In [24]:
event_count_df = event_count_df.fillna(0)

In [25]:
event_count_df.head()

event_type  user_id  product_id  cart  purchase  remove_from_cart  view
0            465496     5769989   0.0       0.0               0.0   1.0
1            465496     5865524   0.0       0.0               0.0   1.0
2            465496     5865526   0.0       0.0               0.0   1.0
3           1120748        5240   0.0       0.0               0.0   1.0
4           1180452     5881337   0.0       0.0               0.0   1.0

In [26]:
rating = list()
cart = event_count_df["cart"]
purchase = event_count_df["purchase"]
remove = event_count_df["remove_from_cart"]
view = event_count_df["view"]
for i in range(0,len(event_count_df)):
    if purchase[i] + remove[i] > cart[i]:
        if remove[i] > cart[i]:
            temp_rating = (purchase[i]*5) + (view[i]*1)
        else:
            temp_rating = (cart[i]*2) + (purchase[i]*5) - (remove[i]*2) + (view[i]*1) + ((purchase[i]+remove[i]-cart[i])*2)
    else:
        temp_rating = (cart[i]*2) + (purchase[i]*5) - (remove[i]*2) + (view[i]*1)
    rating.append(temp_rating)
rating

[1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 2.0,
 1.0,
 2.0,
 2.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 5.0,
 1.0,
 4.0,
 3.0,
 4.0,
 1.0,
 4.0,
 3.0,
 2.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 1.0,
 2.0,
 1.0,
 1.0,
 3.0,
 0.0,
 1.0,
 2.0,
 3.0,
 2.0,
 6.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 3.0,
 1.0,
 2.0,
 3.0,
 2.0,
 3.0,
 1.0,
 3.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 2.0,
 2.0,
 2.0,
 0.0,
 2.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 2.0,
 0.0,
 1.0,
 2.0,
 2.0,
 0.0,
 0.0,
 0.0,
 0.0,
 3.0,
 2.0,
 2.0,
 2.0,
 2.0,
 0.0,
 2.0,
 1.0,
 2.0,
 2.0,
 1.0,
 2.0,
 2.0,
 4.0,
 1.0,
 2.0,
 1.0,
 1.0,
 3.0,
 3.0,
 10.0,
 3.0,
 2.0,
 1.0,
 5.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 2.0,
 1.0,
 10.0,
 3.0,
 2.0,
 3.0,
 12.0,
 1.0,
 2.0,
 2.0,
 10.0,
 3.0,
 2.0,
 1.0,
 2.0,
 2.0,
 1.0,
 0.0,
 1.0,
 3.0,
 1.0,
 22.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 3.0,
 1.0,
 1.0,
 1.0,
 1.0,
 3.0,
 11.0,
 8.0,
 3.0,
 0.0,
 1.0,
 7.0,
 7.0,
 2.0,
 2.0,
 2.0,
 2.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 22.0,
 9.0,
 9.0,
 0.0,
 1.0,
 1.0,
 1.0,
 8.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 2.0,
 1.0,
 3.0,
 1.0,
 2.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 7.0,
 7.0,
 7.0,
 7.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 13.0,
 7.0,
 1.0,
 2.0,
 1.0,
 0.0,
 1.0,
 9.0,
 2.0,
 0.0,
 7.0,
 0.0,
 0.0,
 2.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 8.0,
 0.0,
 1.0,
 0.0,
 17.0,
 1.0,
 4.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 7.0,
 1.0,
 0.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 7.0,
 1.0,
 1.0,
 2.0,
 2.0,
 2.0,
 8.0,
 2.0,
 2.0,
 1.0,
 2.0,
 7.0,
 0.0,
 7.0,
 8.0,
 14.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 1.0,
 7.0,
 7.0,
 7.0,
 7.0,
 8.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 9.0,
 7.0,
 1.0,
 7.0,
 9.0,
 7.0,
 7.0,
 7.0,
 7.0,
 8.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 0.0,
 7.0,
 7.0,
 1.0,
 7.0,
 7.0,
 7.0,
 7.0,
 1.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 7.0,
 1.0,
 7.0,
 1.0,
 1.0,
 2.0,
 8.0,
 1.0,
 7.0,
 8.0,
 7.0,
 6.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 7.0,
 1.0,
 1.0,
 7.0,
 1.0,
 0.0,
 8.0,
 0.0,
 0.0,
 0.0,
 7.0,
 0.0,
 0.0,
 0.0,
 1.0,
 8.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 9.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 7.0,
 8.0,
 8.0,
 7.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 1.0,
 2.0,
 2.0,
 1.0,
 1.0,
 4.0,
 1.0,
 3.0,
 1.0,
 2.0,
 1.0,
 1.0,
 8.0,
 22.0,
 1.0,
 8.0,
 1.0,
 8.0,
 1.0,
 14.0,
 8.0,
 1.0,
 3.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 2.0,
 5.0,
 6.0,
 2.0,
 4.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 3.0,
 4.0,
 1.0,
 1.0,
 1.0,
 1.0,
 3.0,
 0.0,
 2.0,
 2.0,
 2.0,
 2.0,
 1.0,
 2.0,
 1.0,
 3.0,
 3.0,
 1.0,
 2.0,
 2.0,
 2.0,
 3.0,
 2.0,
 1.0,
 1.0,
 1.0,
 2.0,
 2.0,
 2.0,
 1.0,
 1.0,
 3.0,
 3.0,
 4.0,
 1.0,
 3.0,
 1.0,
 2.0,
 1.0,
 1.0,
 3.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 3.0,
 1.0,
 1.0,
 2.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 3.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 3.0,
 1.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 7.0,
 8.0,
 2.0,
 1.0,
 1.0,
 8.0,
 2.0,
 20.0,
 0.0,
 1.0,
 7.0,
 1.0,
 2.0,
 2.0,
 1.0,
 3.0,
 10.0,
 1.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 3.0,
 1.0,
 2.0,
 2.0,
 2.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 0.0,
 7.0,
 7.0,
 9.0,
 0.0,
 0.0,
 1.0,
 3.0,
 1.0,
 1.0,
 0.0,
 7.0,
 1.0,
 8.0,
 7.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 0.0,
 0.0,
 1.0,
 0.0,
 15.0,
 0.0,
 0.0,
 2.0,
 2.0,
 0.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 4.0,
 2.0,
 2.0,
 2.0,
 2.0,
 0.0,
 7.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 3.0,
 1.0,
 3.0,
 3.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 7.0,
 1.0,
 2.0,
 1.0,
 2.0,
 1.0,
 3.0,
 1.0,
 1.0,
 1.0,
 4.0,
 2.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 3.0,
 1.0,
 1.0,
 1.0,
 4.0,
 2.0,
 1.0,
 5.0,
 10.0,
 2.0,
 0.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 3.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 3.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 2.0,
 2.0,
 2.0,
 0.0,
 1.0,
 2.0,
 2.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 2.0,
 2.0,
 1.0,
 1.0,
 2.0,
 2.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 2.0,
 0.0,
 2.0,
 2.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 10.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 1.0,
 3.0,
 1.0,
 1.0,
 2.0,
 2.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 2.0,
 1.0,
 3.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 3.0,
 1.0,
 1.0,
 8.0,
 2.0,
 2.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 0.0,
 11.0,
 1.0,
 10.0,
 2.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 3.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 10.0,
 1.0,
 3.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 4.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 3.0,
 1.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 2.0,
 4.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 3.0,
 1.0,
 2.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 0.0,
 2.0,
 2.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 7.0,
 11.0,
 11.0,
 7.0,
 8.0,
 0.0,
 0.0,
 7.0,
 7.0,
 7.0,
 1.0,
 2.0,
 4.0,
 1.0,
 ...]

In [27]:
event_count_df["rating"] = rating

In [28]:
len(event_count_df)

10157408

In [29]:
user2product0 = event_count_df[0:1000000]
user2product1 = event_count_df[1000001:2000000]
user2product2 = event_count_df[2000001:3000000]
user2product3 = event_count_df[3000001:4000000]
user2product4 = event_count_df[4000001:5000000]
user2product5 = event_count_df[5000001:6000000]
user2product6 = event_count_df[6000001:7000000]
user2product7 = event_count_df[7000001:8000000]
user2product8 = event_count_df[8000001:9000000]
user2product9 = event_count_df[9000001:10000000]
user2product10 = event_count_df[10000001:len(event_count_df)]

In [30]:
user2product0.to_csv("user_product_rating0.csv")
user2product1.to_csv("user_product_rating1.csv")
user2product2.to_csv("user_product_rating2.csv")
user2product3.to_csv("user_product_rating3.csv")
user2product4.to_csv("user_product_rating4.csv")
user2product5.to_csv("user_product_rating5.csv")
user2product6.to_csv("user_product_rating6.csv")
user2product7.to_csv("user_product_rating7.csv")
user2product8.to_csv("user_product_rating8.csv")
user2product9.to_csv("user_product_rating9.csv")
user2product10.to_csv("user_product_rating10.csv")